.clock{
    position:relative;
    margin:auto;
    height:40vw;
    width:40vw;
    background-size: 100%;
    background: url(clock.png) no-repeat;
    z-index: -999;
}
.hour , .minute , .second{
    position: absolute;
    color: black;
    border-radius: 5px;
    transform-origin: bottom;
}

.hour{
    height: 90px;
    width: 5px;
    background-color: rgb(10, 10, 10);
    top: 115px;
    border: 1px solid black;
    left: 240px;
   
}
.minute{
    height: 110px;
    width: 5px;
    background-color: rgb(0, 0, 0);
    border: 1px solid black;
    top: 95px;
    left: 240px;
}
.second{
    height: 120px;
    width: 5px;
    background-color: rgb(0, 0, 0);
    border: 1px solid black;
    top: 85px;
    left: 240px;
}